@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
    width: 100dvw;
    overflow-x: hidden;
    background-color: #dfdff0;
    font-family: "General Sans", sans-serif;
  }

@layer base {
  @font-face {
    font-family: 'Great Vibes';
    src:url('/public/fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
    @font-face {
        font-family: "circular-web";
        src: url("/fonts/circularweb-book.woff2") format("woff2");
      }
    
      @font-face {
        font-family: "general";
        src: url("/fonts/general.woff2") format("woff2");
      }
    
      @font-face {
        font-family: "robert-medium";
        src: url("/fonts/robert-medium.woff2") format("woff2");
      }
    
      @font-face {
        font-family: "robert-regular";
        src: url("/fonts/robert-regular.woff2") format("woff2");
      }
    
      @font-face {
        font-family: "zentry";
        src: url("/fonts/zentry-regular.woff2") format("woff2");
      }
}